/* You can add global styles to this file, and also import other style files */
body, html {
  width: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1em;
  margin: 0;
}

.row:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.col-md-6 {
  float: left;
  height: 100vh;
  width: 50%;
}

textarea.schema {
  width: 95%;
}

label {
  display: block;
}
