/* You can add global styles to this file, and also import other style files */
body {
  background: #fafafa;
  padding: 5px;
}
body, html {
  width: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1em;
  margin: 0;
}

.row:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.col-md-6 {
  float: left;
  height: 100vh;
  width: 50%;
}

label {
  display: block;
}

/* Utilities */

.display-flex-row {
  display: flex;
  flex-direction: row;
}

.width-50 {
  width: 50%;
}

.demo_input {
  margin-bottom: 10px;
  /*width: 600px;*/
  background: #FFFFFF;
  border: 1px solid #d4d9e2;
  border-radius: 3px;
  height: 50px;
  padding: 15px;
  font-size: 16px;
  color: #596377;
  width: 90%;
}

.demo_input:focus {
  outline: none;
}
.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none; }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px !important;
  }

  .display-flex-row {
    flex-direction: column-reverse !important;
  }
  .width-50 {
    width: 100vw !important;
  }
}